.board-container {
	position: fixed;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, white, #dfadd4);
}

.color-picker {
	text-align: center;
	display: inline;
}

.brush-picker {
	display: inline;
	margin-left: 12px;
}

.tools-section {
	text-align: center;
}

.board-container {
	width: 90%;
	height: 90%;
	margin: auto;
	margin-top: 1%;
	background: white;
}
